@model StocksApp.Models.Stock

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    
    <div class="box">
        <div>@Model.StockSymbol</div>
        <div>@Model.CurrentPrice</div>
        <div>@Model.LowestPrice</div>
        <div>@Model.HighestPrice</div>
        <div>@Model.OpenPrice</div>
    </div>
</head>
<body>
<div>
      
</div>
</body>
</html>